## Imports

In [201]:
import pandas as pd
import tabula
import configparser
import os

In [202]:
cwd = os.getcwd()

## Config

In [203]:
#Creating configuration
config_path = os.path.join(cwd, '../docs/config.ini')
config = configparser.ConfigParser()
config.read(config_path)

['c:\\Users\\tasco\\OneDrive\\Python\\Projects\\financialstatements\\financialstatements\\notebooks\\../docs/config.ini']

## Reading Data

In [204]:
PAYSTUB_DIRECTORY = os.path.join(cwd, config.get("data_inputs_directory", "PAYSTUB_DIRECTORY"))

In [205]:
paystubs_files = os.listdir(PAYSTUB_DIRECTORY)

In [206]:
paystub_paths = []
for file in paystubs_files:
    path = os.path.join(PAYSTUB_DIRECTORY, file)
    paystub_paths.append(path)

In [207]:
dfs = []
for path in paystub_paths:
    tables = tabula.read_pdf(path, pages = 'all', area = [396, 36, 756, 612], guess = False)
    df = pd.concat(tables).reset_index(drop=True)
    df['File'] = path[-18:]
    dfs.append(df)

In [208]:
df = pd.concat(dfs).reset_index(drop=True)

## ETL

In [209]:
def find_deductions(df):
    df = df[['Unnamed: 4', 'Unnamed: 5', 'File']]
    df = df.rename(columns = {'Unnamed: 4': 'Account', 'Unnamed: 5':'Amount'})
    df = df[1:]
    df = df.dropna().reset_index(drop = True)
    df = df.query("Account != 'Total' and Account != 'DEDUCTIONS' and Account != 'CURRENT'")
    return df

In [210]:
def find_earnings(df):
    df = df[['Unnamed: 0', 'Unnamed: 3', 'File']]
    df = df.rename(columns = {'Unnamed: 0': 'Account', 'Unnamed: 3':'Amount'})
    df = df[1:]
    df = df.dropna().reset_index(drop = True)
    df = df.query("Account != 'Total' and Account != 'TAX' and Account != 'EARNINGS'")
    return df

In [211]:
deductions_df = find_deductions(df)

In [212]:
earnings_df = find_earnings(df)
earnings_df

            Account     Amount                File
0           REGULAR  $2,746.16  01_paystub_jan.pdf
1            CO STK     $10.50  01_paystub_jan.pdf
4       FEDERAL TAX    $287.29  01_paystub_jan.pdf
5   SOCIAL SECURITY    $164.85  01_paystub_jan.pdf
6          MEDICARE     $38.55  01_paystub_jan.pdf
7          ARKANSAS    $101.80  01_paystub_jan.pdf
10          REGULAR  $2,746.16  01_paystub_jan.pdf
11           CO STK     $10.50  01_paystub_jan.pdf
14      FEDERAL TAX    $287.65  01_paystub_jan.pdf
15  SOCIAL SECURITY    $164.96  01_paystub_jan.pdf
16         MEDICARE     $38.58  01_paystub_jan.pdf
17         ARKANSAS    $102.00  01_paystub_jan.pdf
20          REGULAR  $2,746.16  02_paystub_feb.pdf
21           CO STK     $10.50  02_paystub_feb.pdf
24      FEDERAL TAX    $287.26  02_paystub_feb.pdf
25  SOCIAL SECURITY    $164.84  02_paystub_feb.pdf
26         MEDICARE     $38.55  02_paystub_feb.pdf
27         ARKANSAS    $101.80  02_paystub_feb.pdf
30          REGULAR  $2,746.16  02_paystub_feb.pdf
31           CO STK     $10.50  02_paystub_feb.pdf
34      FEDERAL TAX    $287.26  02_paystub_feb.pdf
35  SOCIAL SECURITY    $164.85  02_paystub_feb.pdf
36         MEDICARE     $38.56  02_paystub_feb.pdf
37         ARKANSAS    $101.80  02_paystub_feb.pdf
40          REGULAR  $2,746.16  03_paystub_mar.pdf
41        MTD AWARD    $250.00  03_paystub_mar.pdf
42           CO STK      $7.50  03_paystub_mar.pdf
43           RS/RSU      $0.00  03_paystub_mar.pdf
44             MGMT      $0.00  03_paystub_mar.pdf
47      FEDERAL TAX    $341.60  03_paystub_mar.pdf
48  SOCIAL SECURITY    $180.16  03_paystub_mar.pdf
49         MEDICARE     $42.13  03_paystub_mar.pdf
50         ARKANSAS    $113.85  03_paystub_mar.pdf
53          REGULAR  $2,746.16  03_paystub_mar.pdf
54           CO STK     $10.50  03_paystub_mar.pdf
55             MGMT  $9,812.85  03_paystub_mar.pdf
58      FEDERAL TAX  $2,446.08  03_paystub_mar.pdf
59  SOCIAL SECURITY    $773.24  03_paystub_mar.pdf
60         MEDICARE    $180.84  03_paystub_mar.pdf
61         ARKANSAS    $582.66  03_paystub_mar.pdf
64          REGULAR  $2,746.16  03_paystub_mar.pdf
65           CO STK     $10.50  03_paystub_mar.pdf
68      FEDERAL TAX    $287.26  03_paystub_mar.pdf
69  SOCIAL SECURITY    $164.85  03_paystub_mar.pdf
70         MEDICARE     $38.55  03_paystub_mar.pdf
71         ARKANSAS    $101.80  03_paystub_mar.pdf

In [213]:
df = pd.concat([deductions_df, earnings_df]).reset_index(drop=True)

In [214]:
df['Month'] = df['File'].str[-5:-7]